@model VolleyVerse.Models.Utenti
<link href="~/Content/css/Shop.css" rel="stylesheet" />
@{
    ViewBag.Title = "Login";
}

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Accedi</h2>

                    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-group d-flex justify-content-center align-items-center mt-3">
                            @Html.LabelFor(m => m.email, "Email", new { @class = "control-label me-5" })
                            @Html.TextBoxFor(m => m.email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.email, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group d-flex justify-content-center align-items-center mt-3">
                            @Html.LabelFor(m => m.password, "Password", new { @class = "control-label me-4" })
                            @Html.PasswordFor(m => m.password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.password, "", new { @class = "text-danger" })
                        </div>

                        <div class="d-flex justify-content-end mt-3">
                            <button type="submit" class="btn btn-success">Accedi</button> 
                        </div>
                    }

                    @if (TempData["ErrorLogin"] != null && (bool)TempData["ErrorLogin"])
                    {
                        <div class="alert alert-danger mt-3" role="alert">
                            Mail o Password non validi
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://www.modenavolley.it/wp/wp-content/uploads/2022/09/PALAZZETTO-11.jpg');
        opacity: 1;
        z-index: -1;
    }
    .card {
        background-color: rgba(255, 255, 255, 0.9); /* Light background with slight transparency */
    }
</style>
