<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Applicazione ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>


<body>
    <div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container">

                @Html.ActionLink("VOLLEY CECINA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand title pe-5" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Attiva/Disattiva spostamento" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link title" })</li>
                        <li>@Html.ActionLink("Notizie", "Index", "News", new { area = "" }, new { @class = "nav-link title" })</li>
                        <li>@Html.ActionLink("Calendario", "Index", "Calendario", new { area = "" }, new { @class = "nav-link title" })</li>
                        <li>@Html.ActionLink("Squadre", "Index", "Squadre", new { area = "" }, new { @class = "nav-link title" })</li>
                        <li>@Html.ActionLink("Contatti", "Index", "Contatti", new { area = "" }, new { @class = "nav-link title" })</li>
                        <li>@Html.ActionLink("Shop", "Index", "Shop", new { area = "" }, new { @class = "nav-link title" })</li>
                        @if (Request.Cookies["UserIDCookie"] != null)
                        {
                            if (HttpContext.Current.Request.Url.AbsolutePath.Contains("/Shop"))
                            {
                                <li><a href="@Url.Action("Index", "Cart")" class="nav-link title"><i class="fas fa-shopping-cart"></i> Carrello</a></li>
                            }
                        }
                        </ul>
                    <div>
                        @if (!User.Identity.IsAuthenticated)
                        {

                            <a href="@Url.Action("Login", "Auth", new { area = "" })" class="btn btn-outline-light text-custom py-2 ">Accedi</a>
                            <a href="@Url.Action("Register", "Auth", new { area = "" })" class="btn btn-outline-light text-custom py-2 ">Registrati</a>
                        }
                        else
                        {

                            <form action="@Url.Action("Logout", "Auth")" method="post" style="display: inline;">
                                @Html.AntiForgeryToken()
                                <button type="submit" class="btn btn-success">Disconnetti</button>
                            </form>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <div class="body-class">
            @RenderBody()
        </div>


        <hr />
        <footer class="bg-light text-center text-lg-start">
            <div class="container p-4">
                <p>
                    &copy; @DateTime.Now.Year - Palazzetto dello Sport Ester ed Astrid Frontera - Via Fucini 1 - 57023 Cecina (Li)
                    C.F 01096660491 - Cod. Fipav 10 049 0079

                    Tel. 0586/631698 Cell. 3388127228 Fax 0586/1867442
                    volley.cecina@fipavbassotirreno.it -- volleycecina@gmail.com
                    Volleycecina@pec.it
                </p>
            </div>
        </footer>
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>


</body>
</html>

<style>
    .body-class{
        min-height: 75vh !important;
    }
</style>
