@model List<VolleyVerse.Models.Squadra>
<link href="~/Content/css/Shop.css" rel="stylesheet" />
@{
    ViewBag.Title = "Elenco Squadre";
}

<div class="spazio">
    <div class="container">
        <h2 class="d-flex justify-content-center m-3"><span class="title fs-1">Le Nostre Squadre</span></h2>

        <div class=" row">
            <div class="col-md-4">

                @foreach (var squadra in Model.Where(s => s.team_id == 1 || s.team_id == 4 || s.team_id == 6))
                {
                    <div class=" text-center">
                        <h4 class="mb-2 mt-4 fs-3">@squadra.team_name</h4>
                        <a href="@Url.Action("Dettagli", "Squadre", new { id = squadra.team_id })">
                            <img class="mb-5 teams" src="@squadra.photo" alt="@squadra.team_name" style="width: 100%; max-width: 300px; height: auto;" />
                        </a>
                    </div>
                }
            </div>
            <div class="col-md-4">
            </div>
            <div class="col-md-4">

                @foreach (var squadra in Model.Where(s => s.team_id == 3 || s.team_id == 5 || s.team_id == 7))
                {
                    <div class=" text-center">
                        <h4 class="mb-2 mt-4 fs-3">@squadra.team_name</h4>
                        <a href="@Url.Action("Dettagli", "Squadre", new { id = squadra.team_id })">
                            <img class="mb-5 teams" src="@squadra.photo" alt="@squadra.team_name" style="width: 100%; max-width: 300px; height: auto;" />
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<style>
    .teams {
        border-top: 3px solid red !important;
        border-left: 3px solid red !important;
        border-bottom: 3px solid blue !important;
        border-right: 3px solid blue !important;
    }
</style>