@model VolleyVerse.Models.Giocatori
@{
    ViewBag.Title = "Modifica Giocatore";
}

@using (Html.BeginForm("Modifica", "Squadre", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.player_id)

    <div class="form-group">
        @Html.LabelFor(model => model.Nome)
        @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Cognome)
        @Html.TextBoxFor(model => model.Cognome, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Numero)
        @Html.TextBoxFor(model => model.Numero, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Altezza)
        @Html.TextBoxFor(model => model.Altezza, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Data_di_nascita)
        @Html.EditorFor(model => model.Data_di_nascita, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.photo)
        <img src="@Url.Content(Model.photo)" alt="Current Photo" width="150" />
        <input type="file" name="file" />
    </div>

    <button type="submit" class="btn btn-primary">Salva Modifiche</button>
}
