@using VolleyVerse.Models
@model IEnumerable<Squadra>

@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/css/Home.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<div class="content">
    <img class="vCec" src="~/Content/img/v.cecinaPhoto.jpg" alt="Immagine" />
</div>
@if (TempData["LogoutSuccess"] != null && (bool)TempData["LogoutSuccess"])
{
    <div class="alert alert-success mt-3" role="alert">
        Logout effettuato con successo
    </div>
}

<div id="overlay">
    <img class="fipav" src="https://www.federvolley.it/sites/default/files/news/immagini/LOGO%20AZZURRO%20def.jpg" />
    <img class="coni me-4" src="https://www.coni.it/images/CONI_Positivo4.jpg" />
    <img class="scuolaVolley" src="https://www.scuolapallavolo.it/wp-content/uploads/2023/02/certificazione-di-qualita-2024.png" />
    <img class="logo m3-2" src="~/Content/img/logo-cecina_1.jpeg" />
    <p class="titleIn title">VOLLEY CECINA</p>
    <img class="baia ms-4" src="https://www.campeggievillaggi.management/Upload/Images/Gallery/b7t9x8i7l8d7m7l0m7o0s8b6d__baia-marinaio.jpg" />
    <img class="comune ms-3" src="~/Content/img/cecina.png" />
    <img class="conad ms-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSosMVx2MulkVA1UnqtrpRkVZH56uULBUE7ROigk97K&s" />
    <img class="crv ms-3" src="https://www.softhrod.com/wp-content/uploads/portfolio-crv.png" />
</div>
<div class="container">
    <div class="d-flex justify-content-center">
        <h2 class="fw-bold fs-2 m-4">NOI SIAMO <span class="title">VOLLEY CECINA</span></h2>
    </div>
    <div class="noiSiamo fs-5">
        <p class="fw-light">Il <span class="fw-normal">Volley Cecina</span>, una realtà sportiva che palpita di passione e impegno, è un'esperienza coinvolgente per grandi e piccini. </p>
        <p class="fw-light">Il <span class="fw-normal">Palazzetto dell Sport</span> di Cecina è il fulcro di questa passione, un luogo dove il suono del pallone che rimbalza e l'energia dei tifosi si fondono in un'atmosfera unica. </p>
        <p class="fw-light">Le <span class="fw-normal">Palestre</span> adiacenti al palazzetto offrono lo spazio ideale per coltivare la passione per lo sport fin dalla più tenera età. Con le sue squadre impegnate in divisioni di Serie C, il Volley Cecina rappresenta il cuore pulsante dello sport locale, un punto di riferimento per gli amanti della pallavolo in tutta la regione. </p>
        <p class="fw-light">Che tu sia un giocatore, un genitore o un tifoso, il Volley Cecina ti accoglie nella sua famiglia sportiva, pronta a condividere vittorie e momenti indimenticabili. Benvenuti nel mondo della pallavolo, benvenuti nel Volley Cecina.</p>
    </div>

    <div class="d-flex justify-content-center">
        <h2 class="fw-bold fs-2 m-4 title">ULTIME NOTIZE</h2>
    </div>

    <div class="container">
        <div class="row">
            @foreach (Notizie news in ViewBag.LatestNews as IEnumerable<Notizie>)
            {
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="@news.image_url" alt="Immagine di notizia">
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">@news.title</h5>
                            @{
                                var previewContent = news.content.Length > 100 ? news.content.Substring(0, 100) + "..." : news.content;
                            }
                            <p class="card-text">@Html.Raw(previewContent)</p>
                            <a href="@Url.Action("Index", "News", new { id = news.news_id })" class="btn btn-light mt-auto">Leggi di più</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="d-flex justify-content-center">
        <h2 class="fw-bold fs-2 m-4 title">STAGIONE 2023-24</h2>
    </div>
    <div class="container mt-2 mb-5">
        <h2 class="text-center mb-4 fs-4">Scopri le date delle prossime Partite</h2>
        <form class="d-flex justify-content-center" method="get" action="@Url.Action("Index", "Calendario")">
            <select name="teamId" class="form-control me-2">
                <option value="">Seleziona una Squadra</option>
                @foreach (var squadra in Model)
                {
                    <option value="@squadra.team_id">@squadra.team_name</option>
                }
            </select>
            <button type="submit" class="btn btn-primary">Vedi Calendario</button>
        </form>
    </div>

    <div class="d-flex justify-content-center">
        <h2 class="fw-bold fs-2 m-4 title">LE NOSTRE SQUADRE</h2>
    </div>
    <div class="row justify-content-center">
        @foreach (var squadra in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img src="@squadra.photo" class="card-img-top" alt="Immagine di @squadra.team_name">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@squadra.team_name</h5>
                        <a href="@Url.Action("Dettagli", "Squadre", new { id = squadra.team_id })" class="btn btn-light mt-auto">Scopri di più</a>
                    </div>
                </div>
            </div>
        }
    </div>

</div>





<!-- Comandi JS -->
<script>
    //funzione per far sparire foto
    $(document).ready(function () {
        $(window).scroll(function () {
            let scrollTop = $(window).scrollTop();
            let opacity = 1 - (scrollTop / 400);

            $(".vCec").css("opacity", opacity);

            if (scrollTop > 200) {
                $("#overlay").css("opacity", "1");
            } else {
                $("#overlay").css("opacity", "0");
            }
        });
        //funzione per banner logout
        setTimeout(function () {
            $(".alert").fadeOut();
        }, 3000);
    });
</script>


