@model List<VolleyVerse.Models.Shop>
<link href="~/Content/css/Shop.css" rel="stylesheet" />

<div class="container mt-3">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title">Articoli nel carrello</h2>
            @if (Model.Count > 0)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome Prodotto</th>
                            <th>Prezzo</th>
                            <th>Descrizione</th>
                            <th>Foto</th>
                            <th>Rimuovi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.item_name</td>
                                <td>@item.item_price</td>
                                <td>@item.item_description</td>
                                <td><img src="@item.item_photo" alt="Foto Prodotto" style="width: 100px; height: 100px;" /></td>
                                <td>
                                    @using (Html.BeginForm("RimuoviDalCarrello", "Cart", new { id = item.purchase_id }, FormMethod.Post))
                                    {
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="row">
                    <div class="col-md-12 d-flex align-items-center justify-content-end">
                        <p class="card-text me-2 mb-0">Totale: @Model.Sum(item => item.item_price)</p>
                        @using (Html.BeginForm("Checkout", "Payment", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            <button type="submit" class="btn btn-success">Acquista</button>
                        }
                    </div>
                </div>
            }
            else
            {
                <p>Il carrello è vuoto</p>
            }
        </div>
    </div>
</div>
